{% extends 'base.html' %}

{% block content  %}

</header>
<!-- end header section -->
<!-- slider section -->
<section class=" slider_section position-relative">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slider_item-box">
          <div class="slider_item-container">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="slider_img-box">
                    <div>
                      <img src="images/watch.png" alt="" class="" />
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="slider_item-detail">
                    <div>
                      <h1>
                        ANTI-FALSIFICATION
                      </h1>
                      <p>
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
                      </p>
                      <div class="d-flex">
                        <a href="" class="slider-btn1 mr-3">
                          DEMARRER
                        </a>
                        <a href="" class="slider-btn2">
                          NOUS CONTACTEZ
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_item-box">
          <div class="slider_item-container">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="slider_img-box">
                    <div>
                      <img src="images/watch.png" alt="" class="" />
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="slider_item-detail">
                    <div>
                      <h1>
                        DEEP LEARNING 
                      </h1>
                      <p>
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
                      </p>
                      <div class="d-flex">
                        <a href="" class="slider-btn1 mr-3">
                          Read More
                        </a>
                        <a href="" class="slider-btn2">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_item-box">
          <div class="slider_item-container">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="slider_img-box">
                    <div>
                      <img src="images/watch.png" alt="" class="" />
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="slider_item-detail">
                    <div>
                      <h1 class="">
                        Stylish watches
                      </h1>
                      <p>
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
                      </p>
                      <div class="d-flex">
                        <a href="" class="slider-btn1 mr-3">
                          Read More
                        </a>
                        <a href="" class="slider-btn2">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom_carousel-control">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- end slider section -->
</div>

{% endblock %}


{% block about %}
<div class="bg">

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 offset-md-2">
            <div class="about_detail-box">
              <h3 class="custom_heading ">
                About our IA DETECTION
              </h3>
              <p class="">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it
              </p>
              <div>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_img-box">
              <img src="./../static/images/image1.jpeg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container w-50 my-5">
      <div class="col-md-6 bg-primary p-3">
    <a href="{% url 'choix' %}" class="text-white text-center">
      commencer la verification
    </a>
  </div>
    </div>
    <!-- end about section -->
{% endblock %}








