<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>resultat AI</title>

    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
	    <link rel="stylesheet" href="{% static 'css/style_result.css' %}">
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
            <ul>
                <li><a href="#" title="Back to tutorial page">Back to analyse</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>profil de carte d'identite</h1>
                <p>sous la responsabilite de la delegation nationale de la surete.</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->
<div class="student-profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          
            <img class="img-fluid " src="{{ file_url }}" alt="photo cni">
         
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
                {% if product %}
              <tr>
                <th width="30%">nom</th>
                <td width="2%">:</td>
                <td>{{ product.nom }}</td>
              </tr>
              <tr>
                <th width="30%">prenom	</th>
                <td width="2%">:</td>
                <td>{{ product.prenom }}</td>
              </tr>
              <tr>
                <th width="30%">date de naissance</th>
                <td width="2%">:</td>
                <td>{{ product.date_naissance }}</td>
              </tr>
              <tr>
                <th width="30%">lieu</th>
                <td width="2%">:</td>
                <td>{{ product.lieu_naissance }}</td>
              </tr>
              <tr>
                <th width="30%">profession</th>
                <td width="2%">:</td>
                <td>{{ product.profession }}</td>
              </tr>
              <tr>
                <th width="30%">sexe</th>
                <td width="2%">:</td>
                <td>{{ product.sexe }}</td>
              </tr>
              <tr>
                <th width="30%">addresse</th>
                <td width="2%">:</td>
                <td>{{ product.addresse }}</td>
              </tr>
              <tr>
                <th width="30%">identifiant</th>
                <td width="2%">:</td>
                <td>{{ product.NumeroCni}}</td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>decision</h3>
            <p class="text-success">{{ result }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>